h3,
h4,
h5 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}
h4 {
  color: #0070ba;
  margin-bottom: 25px;
}
h5 {
  color: #005ea6;
  font-weight: 700;
  font-size: 1.5rem;  
}
h5 svg {
  display: inline-block;
  float: right;
}
.sub-text {
  font-size: 1rem !important;
  padding-bottom: 5px;
}
.small {
  font-weight: 700;
}
.grid50 {
  grid-template-columns: 50%;
}
.colspan {
  grid-column: 1 / span 2;
}

.grid-container,
.main-grid {
  border: 1px solid #bfdbee;
  background: #ffffff;
  border-radius: 5px;
  padding: 0;
}
.grid-container {
  align-items: center;
  display: grid;
  grid-template-columns: 13% 14.5% 14.5% 29% 29%;
}

.grid-container.baseline {
  grid-template-columns: 13% 7.25% 7.25% 7.25% 7.25% 7.25% 7.25% 7.25% 7.25% 7.25% 7.25% 7.25% 7.25%;
}
.grid-container.baseline > div {  
  border-right: 1px solid #dfedf6;
  font-size: 1.2rem;
  margin: 0;
  padding: 20px;  
}
.grid-container.baseline > div:first-child {
  border: 0;
}
.grid-container.baseline > div > span,
.grid-container > div > div span {
  display: inherit;
  font-size: inherit;
}

.grid-container.baseline > div > span:first-child {
  color: #656869;
}
.grid-container.baseline > div > span:last-child {
  font-weight: 700;
}


/* .main-grid {
  max-height: calc(100vh - 460px);
  overflow-y: auto;
} */
.main-grid > .grid-row {
  display: grid;
  grid-template-columns: 13% 14.5% 14.5% 14.5% 14.5% 14.5% 14.5%;
}
.main-grid > div > div {
  display: flex !important;
  border-right: 1px #dfedf6 solid;
}

.main-grid > div > div > span {
  font-size: 1rem;
  padding: 15px 0 0;
}

.grid-container.baseline > div:nth-child(2n+2),
.grid-container.baseline > div:last-child,
.main-grid > div > div:first-child,
.main-grid > div > div:last-child {
  border: 0;
}
.grid-container > div:first-child, 
.main-grid > .grid-row > div:first-child {
  background: #f5fbfe;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.grid-container > div,
.main-grid > div > div { 
  align-content: space-between;
  display: grid;
  height: 100%;
  padding: 10px 0;
  text-align: left;
}
.grid-container > div > div,
.main-grid > div > div {
  padding: 0 20px;
}