/* Header & Navigation Styles */

header * {
    color: #ffffff;
}

.navbar {
    background-image: linear-gradient(to right,#009cde, #005fa7);
    left: 0;
    padding: 0 40px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 11;
}
.navbar-brand {
    font-weight: 500;
    font-size: 1.6rem;
}
.navbar-nav a.nav-link {
    font-size: 1.15rem;    
    padding: 1.8rem 1.1rem !important;
}
.header-icons {
    margin-left: 30px;
}
.header-icons li {
    padding: 0 5px;
}
